[project]
	description = OpenDelta was written to provide automatic OTA updates for The OmniROM Project's nightly builds, making use of deltas when possible, to reduce the size of the download.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Naman Bhalla (Naman-Bhalla)
[access "refs/for/refs/*"]
	read = group user/Naman Bhalla (Naman-Bhalla)
	push = group user/Naman Bhalla (Naman-Bhalla)
	label-Code-Review = -2..+2 group user/Naman Bhalla (Naman-Bhalla)
	label-Verified = -1..+1 group user/Naman Bhalla (Naman-Bhalla)
	rebase = group user/Naman Bhalla (Naman-Bhalla)
	removeReviewer = group user/Naman Bhalla (Naman-Bhalla)
	submit = group user/Naman Bhalla (Naman-Bhalla)
[access "refs/heads/*"]
	read = group user/Naman Bhalla (Naman-Bhalla)
	create = group user/Naman Bhalla (Naman-Bhalla)
	push = +force group user/Naman Bhalla (Naman-Bhalla)
	pushMerge = group user/Naman Bhalla (Naman-Bhalla)
[access "refs/tags/*"]
	push = +force group user/Naman Bhalla (Naman-Bhalla)
	pushTag = group user/Naman Bhalla (Naman-Bhalla)
	pushSignedTag = group user/Naman Bhalla (Naman-Bhalla)
